/** ************************************************************************ **/
/** General display composition                                              **/
/** ************************************************************************ **/

* { box-sizing: border-box; }

:root {

    /* colour scheme */
    --colour-canvas-background: #000000;
    --colour-canvas-text: #ffffff;

    --colour-base-background: #1f1f1f;
    --colour-base-text: #eaeaea;

    --colour-surface-background: #444746;
    --colour-surface-text: #bfbfbf;

    --colour-dialog-background: #42474e;
    --colour-dialog-text: #b0bdc5;

    --device-tile-width: 512px;
    --device-tile-padding: 64px;

    /** computed properties **/
    --device-tile-edge: calc(calc(var(--device-tile-width) / 2) + var(--device-tile-padding));
    --device-width: calc(var(--device-tile-width) - calc(var(--device-tile-padding) * 2));
    --device-height: var(--device-width);
}

html { background-color: var(--colour-canvas-background); }
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colour-base-background);

    width: 1024px;
    height: 768px;

    font-family: 'Open Sans';
    font-size: 32px;
}

#debug-reload {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: var(--colour-base-text);
    text-decoration: none;
    z-index: 2;

}

/** ************************************************************************ **/
/** Dialogs                                                                  **/
/** ************************************************************************ **/

dialog[open] { opacity: 1; pointer-events: inherit; }
dialog {
    transition: opacity .25s ease-in-out;
    background-color: var(--colour-dialog-background);
    color: var(--colour-dialog-text);
    border-radius: 1rem;
    border: 0px;

    will-change: opacity;
    pointer-events: none;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 768px;
    height: 512px;
    margin: 0;

    left: 128px;
    top: 128px;
}

dialog > h1 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
}

dialog > p {
    margin: 0 0 2rem 0;
    text-align: center;
}

dialog > ol {
    padding: 0px;
    list-style: none;
    margin: 0;
    width: 100%;
}

dialog > ol > li.debug {
    color: #656c77;
    font-size: 1.5rem;
}

dialog > ol > li {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: center;
}

dialog > ol > li:not(.debug) {
    background-color: #9cadbc;
    color: #1b3a4d;

    transition: background-color .4s ease-in-out,
                color .4s ease-in-out;

    padding: .25rem;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}

dialog > ol > li.active,
dialog > ol > li:not(.debug):hover {
    background-color: #48bcf7;
    color: #162a36;
}

/** ************************************************************************ **/
/** Interface                                                                **/
/** ************************************************************************ **/

#interface {
    width: 1024px;
    position: absolute;

    display: flex;
    justify-content: space-between;
}

#interface-configuration {
    display: none;  /* controlled by JavaScript */
    padding: 2rem 2rem 0 0;
}

#interface-configuration > img {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

/** ************************************************************************ **/
/** Services (generic)                                                       **/
/** ************************************************************************ **/

main {
    box-sizing: border-box;
    display: flex;

    height: 100%;

    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    align-items: center;
}

main > :first-child { margin-left: var(--device-tile-edge); }
main > :last-child::after {
    display: block;
    content: '';

    width: calc(var(--device-width) + var(--device-tile-edge));
    height: 1px;
}

main > * {
    box-sizing: border-box;
    display: block;

    width: var(--device-width);
    height: var(--device-height);

    border-radius: 50%;

    scroll-snap-align: center;
    margin: var(--device-tile-padding);
    flex: none;
}

/** ************************************************************************ **/
/** Services (Philips Hue)                                                   **/
/** ************************************************************************ **/

philips-hue-element article { width: 100%; text-align: center; }
philips-hue-element {
    background-color: var(--colour-surface-background);
    color: var(--colour-surface-text);

    display: flex;
    align-items: center;
}

philips-hue-element[on] {
    background-color: #ffddc4;
}
